<div class="container">
    <div class="row p-4">
        <div class="col-8">
          <h1 style="text-align: center;">
            Jean
          </h1>  
        </div>
        <div class="col-4">
          <h1 style="text-align: left;">
            $ 2500
          </h1>  
        </div>
      </div>
    <div class="row">
      <div class="col-7">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrA2pu7JaMkctaZ1Oo-m9hFACXD5kl4xawvk7Q3cmOM8cUSp7ggCkIRtFyJKwDxALCQMA&usqp=CAU" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://http2.mlstatic.com/D_NQ_NP_984855-MEC43970731330_112020-O.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFwCSvdgGAH5uUGJNhnJ-D-HWHR1GesfzNtuBvb4UwouEMZw7ybNln8gbm29tyM4ISi1c&usqp=CAU" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
      <div class="col-5">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Talle:</label>
            <select class="form-select" aria-label="Talle">
                <option value="1">L</option>
                <option value="2">XL</option>
                <option value="3">XXL</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Talle:</label>
            <select class="form-select" aria-label="Talle">
                <option value="1">39</option>
                <option value="2">40</option>
                <option value="3">43</option>
            </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Cantidad:</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="1">
      </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Celular/Tel:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1123006458">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Consulta:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div class="d-grid gap-2 p-2">
              <button class="btn btn-outline-primary" type="button">Consultar</button>
              <button class="btn btn-outline-success" type="button">Comprar</button>
            </div>
          </div>
      </div>
    </div>
</div>